
@{
    ViewBag.Title = "DataManagement";
}
@section subheader{
    <div id="subheader" class="sub menu" style="background-color:rgb(240,240,240);">

        <a class="item bucketcount" href="#TATM" style="color:rgb(55,55,55);">
            Data Import <span></span>
        </a>
        <a class="item bucketcount" href="#XATM" style="color:rgb(55,55,55);">
            Data Export <span></span>
        </a>
        <a class="item bucketcount" href="#CATM" style="color:rgb(55,55,55);">
            Scheduled <span></span>
        </a>
        <a class="item bucketcount" href="#ADMN" style="color:rgb(55,55,55);">
            Validation & Approval <span></span>
        </a>
        <div style="display:inline-block; position: absolute; right:0; font-size:6px">
            <a class="item" onclick="window.open(window.routemap + '/xcmhelp/tips/index.html#!Documents/myviews.htm', 'Tips', 'top=30,left=250,height=600,width=500,status=yes,scrollbars=yes,resizable=yes', '_blank')" style="color:rgb(76,89,121)"><em>Tips</em></a>
            <!--<a class="item" href="javascript:window.open('../xcmhelp/tips/index.html#!Documents/myviews.htm', 'tips', 'top=30,left=250,height=600,width=500,status=yes,scrollbars=yes,resizable=yes')" style="color:rgb(76,89,121);"><em>Tips</em></a>-->
            <!--<a class="item" data-content="coming soon" style="color:rgb(76,89,121);"><em>Tips</em></a>-->
            <a class="item" onclick="window.open(window.routemap + '/xcmhelp/videos/myview.html', 'Video', 'top=30,left=250,height=600,width=1500,status=yes,scrollbars=yes,resizable=yes', '_blank')" style="color:rgb(76,89,121);"><em>Video</em></a>
            <a class="item" onclick="window.open(window.routemap + '/xcmhelp/help/index.html#!Documents/myviewpage.htm', 'Help', 'top=30,left=250,height=600,width=1000,status=yes,scrollbars=yes,resizable=yes', '_blank')" style="color:rgb(76,89,121);"><em>Help</em></a>
        </div>

    </div>
}